Задание:

— Используя Spark прочитайте данные из файла csv.
— Фильтруйте данные, чтобы оставить только книги, продажи которых превышают 3000 экземпляров.
— Сгруппируйте данные по жанру и вычислите общий объем продаж для каждого жанра.
— Отсортируйте данные по общему объему продаж в порядке убывания.
— Выведите результаты на экран.

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, window, when, col, desc

In [13]:
sc = spark = (  
        SparkSession.builder  
        .master("local")  
        .appName("Homework_05")
        .getOrCreate()  
        )

In [16]:
spark_df = sc.read.csv('hw05.csv',sep=",", header=True)
spark_df.show()

+--------------------+-------------------+---------------+-----+----+
|               title|             author|          genre|sales|year|
+--------------------+-------------------+---------------+-----+----+
|                1984|      George Orwell|Science Fiction| 5000|1949|
|The Lord of the R...|     J.R.R. Tolkien|        Fantasy| 3000|1954|
|To Kill a Mocking...|         Harper Lee|Southern Gothic| 4000|1960|
|The Catcher in th...|      J.D. Salinger|          Novel| 2000|1951|
|    The Great Gatsby|F. Scott Fitzgerald|          Novel| 4500|1925|
+--------------------+-------------------+---------------+-----+----+

In [17]:
spark_filter = spark_df.filter(col('sales')>3000)
spark_filter.show()

+--------------------+-------------------+---------------+-----+----+
|               title|             author|          genre|sales|year|
+--------------------+-------------------+---------------+-----+----+
|                1984|      George Orwell|Science Fiction| 5000|1949|
|To Kill a Mocking...|         Harper Lee|Southern Gothic| 4000|1960|
|    The Great Gatsby|F. Scott Fitzgerald|          Novel| 4500|1925|
+--------------------+-------------------+---------------+-----+----+

In [24]:
spark_group = spark_filter.groupBy("genre").agg(sum('sales').alias('total_sales')).orderBy(desc('total_sales'))
spark_group.show()

+---------------+-----------+
|          genre|total_sales|
+---------------+-----------+
|Science Fiction|     5000.0|
|          Novel|     4500.0|
|Southern Gothic|     4000.0|
+---------------+-----------+