In [45]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [46]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, avg, when, max,year, month, countDistinct
from pyspark.sql.functions import col
from pyspark.sql import functions as F
import pandas as pd

In [47]:
spark = SparkSession.builder.appName("Homework_02").getOrCreate()

In [52]:
data = {'id': [1, 2, 3, 4, 5], 'Name': ['Joe', 'Henry', 'Sam', 'Max', 'Petr'],
        'Salary':['70', '80', '60', '90', '85'], 'ManagerId':['3', '4', 'Null', "Null", 'Null']}
df = pd.DataFrame(data)
df_pyspark = spark.createDataFrame(df)
df_pyspark.show()

+---+-----+------+---------+
| id| Name|Salary|ManagerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     Null|
|  4|  Max|    90|     Null|
|  5| Petr|    85|     Null|
+---+-----+------+---------+

In [49]:
df_pyspark = df_pyspark.withColumn('Salary',df_pyspark.Salary.cast('int'))

In [50]:
max_salary_manager = df_pyspark.where(df_pyspark.ManagerId!='Null').agg(max(df_pyspark.Salary)).collect()[0]['max(Salary)']
max_salary_manager

80

In [51]:
max_salary_employees = df_pyspark.where(df_pyspark.ManagerId=='Null').filter(col('Salary')>max_salary_manager)
max_salary_employees['id','Name','Salary'].show()

+---+----+------+
| id|Name|Salary|
+---+----+------+
|  4| Max|    90|
|  5|Petr|    85|
+---+----+------+