In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=dfbca17ab2acd0ee2e724a894f7640da10d3471cb0cdf3657d48540b35f90c81
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum, avg, when, max,year, month, countDistinct
from pyspark.sql.functions import col
from pyspark.sql import functions as F
import pandas as pd

In [3]:
spark = SparkSession.builder.appName("Homework_02").getOrCreate()

In [7]:
data = {'id': [1, 2, 3, 4], 'Name': ['Joe', 'Henry', 'Sam', 'Max'],
        'Salary':['70', '80', '60', '90'], 'ManagerId':['3', '4', 'Null', "Null"]}
df = pd.DataFrame(data)
df_pyspark = spark.createDataFrame(df)
df_pyspark.show()

+---+-----+------+---------+
| id| Name|Salary|ManagerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     Null|
|  4|  Max|    90|     Null|
+---+-----+------+---------+

In [10]:
df_pyspark = df_pyspark.withColumn('Salary',df_pyspark.Salary.cast('int'))
df_pyspark = df_pyspark.withColumn("ManagerId", df_pyspark["ManagerId"].cast("int"))

In [13]:
# Объединение DataFrame с самим собой по столбцам 'id' и 'ManagerId', выбирая строки, где зарплата сотрудника больше зарплаты его менеджера
result = df_pyspark.alias("employee").join(df_pyspark.alias("manager"), col("employee.ManagerId") == col("manager.id"), "inner") \
    .where(col("employee.Salary") > col("manager.Salary")) \
    .select("employee.Name", "employee.Salary")
# Вывод результата в табличном формате: имя искомого сотрудника и его зарплата
result.show()

+----+------+
|Name|Salary|
+----+------+
| Joe|    70|
+----+------+

In [14]:
# Вывод имени в табличном формате
result.select('Name').show()

+----+
|Name|
+----+
| Joe|
+----+

In [17]:
# Вывод имени
result.select('Name').collect()[0]['Name']

'Joe'